/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
body{
	/* background-color: rgb(75, 75, 189); */
	background: url(background.jpg);
	position: relative;
	height: 100%;

}
.wrapper{
	display: flex;
	flex-direction: column;
	min-height: 100%;
	
}
.container{
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 40px;
}
.header{
	position: sticky;
	top: 0;
	left: 0;
	background: rgb(34, 85, 85 , 0.9);
	border-radius: 0 0 50px 50px;
	margin-bottom: 10px;
}
.header-rows	{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
	
}
.logo{
	width: 50px;
	height: 50px;
	fill: rgb(238, 182, 30);
}
.conrtol-input{
	position: relative;
}
.input{
	width: 300px;
	height: 50px;
	border-radius: 20px;
	margin-right: 20px;
	padding-left: 40px;
	font-size: 18px;
	color: #255;
}
.icon{
	width: 20px;
	height: 20px;
	position: absolute;
	top: 15px;
	left: 10px;
	cursor: pointer;
	fill: black;
}
.icon:hover{
	fill: rgb(238, 182, 30);
}
.cross{
	visibility: hidden;
	position: absolute;
	top: 12.5px;
	right: 40px;
	width: 15px;
	height: 15px;
	fill: rgb(238, 182, 30);
}
.cross-active{
	visibility:visible
}
.main-rows{
	flex: 1 1 auto;
}
.main{
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.gallery{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 10px;
}
.photo{
padding: 10px;
display: flex;
justify-content: center;
align-items: center;

}
.img{
	width: 300px;
	height: 300px;
	object-fit: cover;
	border-radius: 20%;
}
.more-page{
	width: 350px;
	height: 60px;
	background: #255 ;
	border-radius: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	color:rgb(238, 182, 30); 	
	margin-bottom: 10px;
	cursor: pointer;
}

.footer{
	width: 100%;
	
	background: #255 ;
	border-radius: 50px 50px 0 0;
}
.footer__row { 
	display: flex;
	height: 80px;
	align-items: center;
	justify-content: space-between;
	font-size: 24px;
	color: rgb(238, 182, 30); 	;
}
.footer__github a{
	color: inherit;
} 
.icon-school{
	height: 40px;
	width: 150px;
	fill: rgb(238, 182, 30); 	;
}
